.contacts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.contacts__table {
  margin-bottom: 40px;
}

.contacts__cell--mail {
  text-decoration: underline;
}

.contacts__map {
  margin-bottom: 40px;
}
