.feedbacks__list {
  margin-bottom: 35px;
  .list-clean();
}

.quote {
  margin: 0;
  padding: 0;
  .text-normal();
}

.quote__text {
  margin-bottom: 40px;
}

.quote__author {
  .text-bold();
}

@media (min-width: @tablet-width) {
  .feedbacks {
    position: relative;
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-bottom: 120px;
  }

  .feedbacks__title {
    font-size: 43px;
    line-height: 50px;
  }

  .quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .quote__text {
    font-size: 17px;
    line-height: 30px;
  }

  .feedbacks__button {
    position: absolute;
    width: 170px;
    top: 0;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .feedbacks__title {
    margin-left: 185px;
  }

  .feedbacks__list {
    margin-left: 185px;
  }
}

