.feedbacks {
  position: relative;
  margin-bottom: 90px;

  &::after {
    .absolute-elem();
    width: 100%;
    height: 6px;
    bottom: -50px;
    left: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 6px;
    background-repeat: repeat;
  }
}

.feedbacks__title {
  margin: 0;
  padding: 0;
}

.feedbacks__list {
  .list-clean();
  margin-bottom: 35px;
}

.quote {
  margin: 0;
  padding: 0;
  .text-normal();
}

.quote__text {
  margin-bottom: 30px;
}

.quote__author {
  .text-bold();
}

@media (min-width: @tablet-width) {
  .feedbacks {
    padding-top: 85px;
    margin-bottom: 150px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;

    &::after {
      height: 17px;
      bottom: -85px;
      background-size: auto 17px;
    }
  }

  .feedbacks .container {
    position: relative;
    padding-bottom: 20px;
  }

  .feedbacks__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .quote__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 60px;
  }

  .feedbacks__button {
    position: absolute;
    width: 170px;
    top: 0;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .feedbacks {
    padding-top: 0;
    margin-bottom: 165px;
    background-image: none;

    &::after {
      height: 25px;
      bottom: -95px;
      background-size: auto 25px;
    }
  }

  .feedbacks .container {
    padding-top: 85px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
  }

  .feedbacks__title {
    margin-left: 185px;
  }

  .feedbacks__list {
    margin-left: 185px;
  }

  .feedbacks__button {
    top: 85px;
  }
}
