.feedbacks {
  position: relative;
  margin-bottom: 83px;

  &::after {
    .absolute-elem();
    width: 100%;
    height: 6px;
    bottom: -50px;
    left: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 6px;
    background-repeat: repeat;
  }
}

.feedbacks__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
}

.feedbacks__list {
  .list-clean();
  margin-bottom: 33px;
}

.quote {
  margin: 0;
  padding: 0;
  .text-normal();
}

.quote__text {
  margin-bottom: 27px;
  line-height: 30px;
}

.quote__author {
  .text-bold();
  display: inline-block;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
}

.quote__mail {
  font-size: 17px;
  line-height: 24px;
}

.feedbacks__button {
  font-size: 18px;
}

@media (min-width: @tablet-width) {
  .feedbacks {
    padding-top: 75px;
    margin-bottom: 143px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      height: 17px;
      bottom: -85px;
      background-size: auto 17px;
    }
  }

  .feedbacks .container {
    position: relative;
    padding-bottom: 20px;
  }

  .feedbacks__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 33px;
  }

  .quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .quote__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 58px;
  }

  .feedbacks__button {
    position: absolute;
    width: 170px;
    top: 2px;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .feedbacks {
    padding-top: 0;
    margin-bottom: 155px;
    background-image: none;

    &::after {
      height: 25px;
      bottom: -92px;
      background-size: auto 25px;
    }
  }

  .feedbacks .container {
    padding-top: 70px;
    padding-bottom: 65px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .feedbacks__title {
    margin-left: 172px;
    font-size: 53px;
    line-height: 57px;
  }

  .feedbacks__list {
    margin-left: 175px;
  }

  .quote__text {
    width: 768px;
    margin-bottom: 40px;
  }

  .feedbacks__button {
    top: 80px;
  }
}
