.offer {
  font-size: 17px;
  line-height: 18px;
}

.offer__text {
  font-size: 13px;
  line-height: 24px;
  .text-normal();
}

.offer__field {
  position: relative;
  border: none;

  &::after {
    height: 1px;
    width: 70%;
    top: 10px;
    right: 0;
    background-color: rgba(98, 209, 186, 1);
    .psevdo-elem();
  }
}

.field-title {
  margin: 0;
  padding: 0;
  color: rgba(99, 209, 187, 1);
}

.field-input {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.field-list {
  .list-clean();
}

.offer__text-require {
  font-size: 14px;
  line-height: 16px;
  .text-normal();
}

.extra-field__area {
  width: 100%;
  height: 140px;
  border: 2px solid rgba(0, 0, 0, 1);
  resize: none;
}

.offer__button {
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .offer__field::after {
    display: none;
  }

  .field-wrapper {
    display: flex;
  }

  .field-list {
    width: 100%;
  }

  .field-title {
    width: 170px;
  }

  .color-field, .tel-field, .mail-field {
    background-color: rgba(241, 241, 241, 1);
  }

  .field-wrapper {
    display: flex;
  }

  .offer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .offer__text-require {
    display: inline-block;
    order: 2;
  }

  .offer__button {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .field-title {
    width: 175px;
    text-align: center;
  }

  .field-list, .field-input, .extra-field__area, .offer__wrapper {
    width: 700px;
  }
}
