.page-title {
  position: relative;
  background-color: rgba(249, 249, 249, 1);

  &--index {
    margin-bottom: 20px;
    height: 490px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  &--extra {
    margin-bottom: 30px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page-title__wrapper {
  display: none;
}

.page-title__list {
  display: none;
  .list-clean();
}

.page-title__text {
  .text-normal();
}

.page-title__title {
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.page-title--index .page-title__title {
  padding-top: 60px;
  margin-bottom: 140px;
}

.catalog-menu {
  display: block;
  .list-clean();
}

.catalog-menu__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

.catalog-menu__item--interier {
  background-color: rgba(99, 209, 187, 1);

  &::after {
    width: 60px;
    height: 64px;
    top: 50%;
    right: 40px;
    margin-top: -32px;
    background-image: url("../img/icon-interior.svg");
    .psevdo-elem();
  }
}

.catalog-menu__item--toys {
  background-color: rgba(86, 195, 176, 1);

  &::after {
    width: 60px;
    height: 64px;
    top: 50%;
    right: 40px;
    margin-top: -32px;
    background-image: url("../img/icon-toy.svg");
    .psevdo-elem();
  }
}

.catalog-menu__link {
  margin-left: 30px;
  width: 130px;
  font-size: 19px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

@media (min-width: @tablet-width) {
  .page-title {
    &--index {
      margin-bottom: 35px;
      height: 745px;
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: 50% 0;
      text-align: center;
    }

    &--extra {
      margin-bottom: 80px;
      display: block;
      height: 225px;
    }

    &::after {
      width: 100%;
      height: 13px;
      bottom: 0;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      .psevdo-elem();
    }
  }

  .page-title__wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .page-title__text {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .page-title__title {
    font-size: 43px;
    line-height: 50px;
  }

  .page-title--index .page-title__title {
    margin-top: 115px;
    margin-bottom: 370px;
    padding-top: 0;
    width: 600px;
  }

  .page-title--extra .page-title__title {
    margin-top: 55px;
  }

  .catalog-menu {
    display: flex;
    justify-content: space-between;
  }

  .catalog-menu__item {
    width: 50%;
    height: 120px;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    &--index {
      margin-bottom: 135px;
      background-image: url("../img/hero-desktop@1x.jpg");
      background-position: 50% 0;
    }

    &--extra {
      margin-bottom: 130px;
      height: 255px;
    }

    &::after {
      height: 17px;
    }
  }

  .page-title__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-title__list {
    display: flex;
    flex-wrap: wrap;
  }

  .page-title__item {
    margin-right: 30px;
  }

  .page-title__title {
    font-size: 53px;
    line-height: 57px;
  }

  .main-page__wrapper .page-title__title {
    margin-bottom: 355px;
    width: 700px;
  }
}
