.page-header {
  border: 1px solid rgba(236, 236, 236, 1);
}

.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;

  font-size: 17px;
  line-height: 24px;
}

.main-nav__logo {
  display: flex;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__image {
  display: flex;
}

.menu-button {
  position: absolute;
  top: 30px;
  right: 2px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;

  &--open {
    background-image: url("../img/icon-menu-close.svg");
  }

  &--close {
    background-image: url("../img/icon-menu-open.svg");
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  &--open {
    display: block;
  }

  &--close {
    display: none;
  }
}

.main-nav__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-top: 1px solid rgba(236, 236, 236, 1);
}

.main-nav__link {
  position: relative;
  margin-left: 50px;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .main-nav__icon {
    color: rgba(138, 221, 204, 1);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:active .main-nav__icon {
    color: rgba(138, 221, 204, 0.3);
  }
}

.main-nav__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: -35px;
  color: rgba(0, 0, 0, 0.2);
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .main-nav__image {
    height: 90px;
  }

  .menu-button {
    display: none;
  }

  .main-nav__item {
    border-top: none;

    &--search {
      height: 90px;
      border-left: 1px solid rgba(236, 236, 236, 1);
    }

    &--cart {
      width: 270px;
      height: 90px;
      justify-content: flex-end;
      border-left: 1px solid rgba(236, 236, 236, 1);
    }
  }

  .main-nav__link {
    margin-left: 0;
    text-align: right;

    &--search {
      margin: 0;
      padding: 0;
      width: 85px;
      font-size: 0;
    }
  }

  .main-nav__icon {
    &--search {
      left: 35px;
    }

    &--cart {
      left: -50px;
    }
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .main-nav__list--links {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -72px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
  }

  .main-nav__list--links .main-nav__item {
    margin-right: 30px;
  }

  .main-nav__list--user {
    margin-left: auto;
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo {
    order: 2;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__list--user {
    order: 3;
  }

  .main-nav__list--links .main-nav__item {
    border-right: 1px solid rgba(236, 236, 236, 1);

    &--catalog {
      padding-right: 25px;
    }

    &--offer {
      padding-left: 25px;
      border-right: none;
    }
  }
}
