.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;

  font-size: 17px;
  line-height: 24px;
}

.main-nav__logo {
  display: flex;
  justify-content: center;
}

.main-nav__image {
  display: flex;
}

.menu-button {
  position: absolute;
  top: 25px;
  right: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &::before {
    width: 2px;
    height: 25px;
    background-color: black;
    transform: rotate(45deg);
    .psevdo-elem();
  }

  &::after {
    width: 2px;
    height: 25px;
    background-color: black;
    transform: rotate(-45deg);
    .psevdo-elem();
  }
}

.main-nav__list {
  .list-clean();
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.main-nav__form {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .main-nav__item,
  .main-nav__image {
    height: 90px;
  }

  .menu-button {
    display: none;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .main-nav__list--links {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -75px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
  }

  .main-nav__list--links .main-nav__item {
    margin-right: 30px;
  }

  .main-nav__list--user {
    margin-left: auto;
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo {
    order: 2;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__list--user {
    order: 3;
  }
}
