.promo {
  position: relative;
  margin-bottom: 62px;

  &::after {
    .absolute-elem();
    width: 100%;
    height: 6px;
    bottom: -40px;
    left: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 6px;
    background-repeat: repeat;
  }
}

.popular-good__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

.popular-good__span {
  font-size: 17px;
  line-height: 20px;
  color: rgba(99, 209, 187, 1);
}

.popular-good__text {
  margin-bottom: 30px;
  .text-normal();
}

.popular-good__table {
  margin-bottom: 30px;
  .text-normal();
}

.popular-good__cell {
  height: 40px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  &--title {
    width: 95px;
    text-align: left;
    .text-normal();
  }
}

.popular-good__image {
  display: block;
  width: 260px;
  height: 315px;
}

.popular-good__price {
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .promo {
    margin-bottom: 100px;

    &::after {
      height: 17px;
      bottom: -50px;
      background-size: auto 17px;
    }
  }

  .popular-good {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .popular-good__title {
    font-size: 43px;
    line-height: 50px;
  }

  .popular-good__span {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 80px;
    text-align: center;
  }

  .popular-good__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-content: space-between;
    max-height: 520px;
  }

  .popular-good__text {
    margin-top: 70px;
    margin-bottom: 30px;
    width: 290px;
    font-size: 17px;
    line-height: 30px;
  }

  .popular-good__table {
    margin-bottom: 30px;
    width: 290px;
  }

  .popular-good__picture {
    margin-top: 70px;
    order: 1;
  }

  .popular-good__image {
    width: 335px;
    height: 400px;
  }

  .popular-good__price {
    margin-left: 80px;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
  }

  .popular-good__button {
    width: 290px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin-bottom: 140px;

    &::after {
      height: 25px;
      bottom: -75px;
      background-size: auto 25px;
    }
  }

  .popular-good__title {
    z-index: 2;
  }

  .popular-good {
    margin-left: 185px;
    max-height: 580px;
  }

  .popular-good__span {
    position: absolute;
    top: 5px;
    left: -140px;
    width: 80px;
    text-align: center;
  }

  .popular-good__wrapper {
    max-height: 531px;
  }

  .popular-good__table {
    margin-bottom: 90px;
  }

  .popular-good__image {
    width: 525px;
    height: 630px;
  }
}
