.video__list {
  .list-clean();
}

.video__title {
  font-size: 17px;
  line-height: 24px;
}

.video__picture {
  position: relative;

  &::after {
    width: 100px;
    height: 75px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -50px;

    background-image: url("../img/icon-play.svg");
    cursor: pointer;
    .psevdo-elem();
  }
}

.video__description {
  font-size: 13px;
  line-height: 24px;
  .text-normal();
}

@media (min-width: @tablet-width) {
  .video__item {
    display: flex;
    flex-direction: column;
  }

  .video__title, .video__wrapper {
    order: 1;
  }

  .video__preview {
    width: 670px;
    height: 460px;
  }

  .video__button {
    width: 580px;
    margin: 0 auto;
  }
}

<<<<<<< HEAD
@media (min-width: @desktop-width) {
  .video__item {
    flex-direction: row;
  }

  .video__preview {
    width: 680px;
  }

  .video__wrapper {
    width: 500px;
  }

  .video__button {
    width: 230px;
  }
}
=======
>>>>>>> 11160e8c88fae7be4e7add3c157630fe8542ba0d
