.video__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.video__item {
  position: relative;
}

.video__title {
  font-size: 17px;
  line-height: 24px;
}

.video__play {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 75px;
  top: 80px;
  left: 50%;
  margin-left: -50px;
  background-image: url("../img/icon-play.svg");
  color: transparent;
  cursor: pointer;
}

.video__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .video__item {
    display: flex;
    flex-direction: column;
  }

  .video__title, .video__description, .video__button {
    order: 1;
  }

  .video__button {
    width: 580px;
    margin: 0 auto;
  }
}
